@{
    ViewData["Title"] = "Dashboard";
    Layout = null;
}

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/assets/css/main/app.css" />
    <link rel="stylesheet" href="~/lib/assets/css/main/app-dark.css" />
    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="~/lib/assets/images/Lp/favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="~/css/Lp.css">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@600;700;900&family=Quicksand:wght@400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.svg"
          type="image/x-icon" />
    <link rel="shortcut icon"
          href="~/lib/assets/images/logo/favicon.png"
          type="image/png" />

    <style>
        .pointer {
            cursor: pointer;
        }
    </style>
    <script>
        function a() {
            location.replace("https://localhost:7044/Home/Login")
        }
    </script>

</head>

<body class="d-flex flex-column min-vh-100">
    

    <section class="hero" id="hero">
        <div class="container">

            <div class="hero-content">
                <br />
                <h1 class="h1 hero-title">Overtime Request & Employee Payroll</h1>

                <p class="hero-text">
                    This web will help you to request overtime schedule and you will get your payslip on your Paydate!!
                </p>

                @*<p class="form-text">
                <span>🥳</span> Overtime Request is a project done by group 4 of metrodata coding camp 78.
                </p>*@

                <a href="/Home/Login">
                    <button class="btn btn-outline">Login</button>
                </a>

            </div>

            <figure class="hero-banner">
                <img src="~/lib/assets/images/Lp/hero-banner.png" alt="Hero image">
            </figure>

        </div>
    </section>



    <!--
              - ABOUT
            -->

    <section class="about">
        <div class="container">

            <div class="about-content">

                <div class="about-icon">
                    <ion-icon name="cube"></ion-icon>
                </div>

                <h2 class="h2 about-title">The Function</h2>

                <p class="about-text">
                    This project serves to help and improve work efficiency. Here are the features that can be used.
                </p>

            </div>

            <ul class="about-list">

                <li>
                    <div class="about-card">

                        <div class="card-icon">
                            <ion-icon name="trending-up"></ion-icon>
                        </div>

                        <h3 class="h3 card-title">Request Overtime</h3>

                        <p class="card-text">
                            You can make an overtime request here and see your monthly bonus.
                        </p>

                    </div>
                </li>

                <li>
                    <div class="about-card">

                        <div class="card-icon">
                            <ion-icon name="download"></ion-icon>
                        </div>

                        <h3 class="h3 card-title"> Get Payroll</h3>

                        <p class="card-text">
                            In this application you can see your monthly payroll data.
                        </p>

                    </div>
                </li>

                <li>
                    <div class="about-card">

                        <div class="card-icon">
                            <ion-icon name="bar-chart"></ion-icon>

                        </div>

                        <h3 class="h3 card-title">Overtime Bar Chart</h3>

                        <p class="card-text">
                            This feature is useful for showing bar charts or statistics from overtime.
                        </p>

                    </div>
                </li>

                <li>
                    <div class="about-card">

                        <div class="card-icon">

                            <ion-icon name="document-text"></ion-icon>

                        </div>

                        <h3 class="h3 card-title">Payroll Acsess</h3>

                        <p class="card-text">
                            This feature is used to create and edit payroll data.
                        </p>

                    </div>
                </li>

            </ul>

        </div>
    </section>



    <!--
      - BLOG
    -->

    <section class="p-5" id="blog">
        <div class="container">

            <h2 class="h2 section-title">Our Developers</h2>

            <p class="section-text">
                Meet our developers, they are the people who have made this amazing app.
            </p>

            <div class="row g-4">
                <div class="col-md-6 col-lg-3">
                    <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                        <div class="card-body text-center p-5">
                            <img src="~/lib/assets/images/faces/2.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                            <h4 class="card-title mb-3 py-4"> Darwin Manurung</h4>
                            <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                        <div class="card-body text-center p-5">
                            <img src="~/lib/assets/images/faces/3.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                            <h4 class="card-title mb-3 py-4"> Herni Hartati</h4>
                            <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                        <div class="card-body text-center p-5">
                            <img src="~/lib/assets/images/faces/2.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                            <h4 class="card-title mb-3 py-4">Tony Aji Palguno</h4>
                            <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>

                        </div>

                    </div>

                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card" style=" --majorelle-blue: hsl(245, 67%, 55%);box-shadow: 0 3px 10px hsla(245, 67%, 59%, 0.5);">
                        <div class="card-body text-center p-5">
                            <img src="~/lib/assets/images/faces/3.jpg" class="rounded-circle" style="width:100%; height:100%" alt="" />
                            <h4 class="card-title mb-3 py-4"> Rona Salsabila</h4>
                            <div class="d-flex flex-row gap-3" style="justify-content:center;">
                                <a href=""><i class="bi bi-github"></i></a>
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </div>
    </div>
    <footer>

        <div class="footer-bottom">
            <div class="container">
                <p class="copyright">
                    &copy; 2022 <a href="">Project MCC By Kelompok 4</a>. All Right Reserved
                </p>
            </div>
        </div>

    </footer>
    </div>
    </div>
    <script src="~/lib/assets/js/bootstrap.js"></script>
    <script src="~/lib/assets/js/app.js"></script>
    <!--
      - custom js link
    -->
    <script src="~/js/script.js"></script>

    <!--
      - ionicon link
    -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>